@import url(./header.css);
@import url(./search-bar.css);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}